In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('hw5') \
    .getOrCreate()
spark.version

your 131072x1 screen size is bogus. expect trouble

24/03/04 23:54:13 WARN Utils: Your hostname, Acer-JC resolves to a loopback address: 127.0.1.1; using 172.26.36.16 instead (on interface eth0)
24/03/04 23:54:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/04 23:54:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/04 23:54:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

'3.3.2'

In [6]:
!sh download_data_hw.sh

downloading https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz to data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz
--2024-03-04 18:19:23--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)...

140.82.112.3, 205.251.194.8, 205.251.193.165, ...
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T231926Z&X-Amz-Expires=300&X-Amz-Signature=e8e1a5429a9731653333900a4ab3e7861ded55e30d08d957b23f062217f2368f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 18:19:23--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T231926Z&X-Amz-Expires=300&X-Amz-Signature=e8e1a5429a9731653333900a4ab3e7861ded55e30d08d957b23f062217f2368f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz’

data/raw/fhv/2019/1 100%[===================>]  18.48M  6.29MB/s    in 2.9s

2024-03-04 18:19:27 (6.29 MB/s) - ‘data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz’ saved [19375751/19375751]

In [3]:
import pandas as pd
from pyspark.sql import types

In [8]:
input_path = f'data/raw/fhv/2019/10/'
df_fhv = spark.read \
    .option("header", "true") \
    .csv(input_path)

df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [10]:
fhv_schema = types.StructType([
    types.StructField("dispatching_base_num", types.StringType(), True),
    types.StructField("pickup_datetime", types.TimestampType(), True),
    types.StructField("dropOff_datetime", types.TimestampType(), True),
    types.StructField("PUlocationID", types.IntegerType(), True),
    types.StructField("DOlocationID", types.IntegerType(), True),
    types.StructField("SR_Flag", types.IntegerType(), True),
    types.StructField("Affiliated_base_number", types.DoubleType(), True)
])

In [13]:
print(f'processing data for 2019/10 fhv')

input_path = f'data/raw/fhv/2019/10/'
output_path = f'data/pq/fhv/2019/10/'

df_fhv = spark.read \
    .option("header", "true") \
    .schema(fhv_schema) \
    .csv(input_path)

df_fhv \
    .repartition(6) \
    .write.parquet(output_path)

processing data for 2019/10 fhv

In [19]:
!ls -lh data/pq/fhv/2019/10

total 36M
-rwxrwxrwx 1 josephj1o4e1 josephj1o4e1    0 Mar  4 18:38 _SUCCESS
-rwxrwxrwx 1 josephj1o4e1 josephj1o4e1 6.0M Mar  4 18:38 part-00000-6ea2c22e-8ee6-4c6d-b1d2-fdfb19df4d95-c000.snappy.parquet
-rwxrwxrwx 1 josephj1o4e1 josephj1o4e1 6.0M Mar  4 18:38 part-00001-6ea2c22e-8ee6-4c6d-b1d2-fdfb19df4d95-c000.snappy.parquet
-rwxrwxrwx 1 josephj1o4e1 josephj1o4e1 6.0M Mar  4 18:38 part-00002-6ea2c22e-8ee6-4c6d-b1d2-fdfb19df4d95-c000.snappy.parquet
-rwxrwxrwx 1 josephj1o4e1 josephj1o4e1 6.0M Mar  4 18:38 part-00003-6ea2c22e-8ee6-4c6d-b1d2-fdfb19df4d95-c000.snappy.parquet
-rwxrwxrwx 1 josephj1o4e1 josephj1o4e1 6.0M Mar  4 18:38 part-00004-6ea2c22e-8ee6-4c6d-b1d2-fdfb19df4d95-c000.snappy.parquet
-rwxrwxrwx 1 josephj1o4e1 josephj1o4e1 6.0M Mar  4 18:38 part-00005-6ea2c22e-8ee6-4c6d-b1d2-fdfb19df4d95-c000.snappy.parquet

In [3]:
df_fhv_pq = spark.read.parquet('data/pq/fhv/*/*')
df_fhv_pq.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00350|2019-10-03 16:09:39|2019-10-03 16:18:27|         264|         173|   null|                  null|
|              B00256|2019-10-19 20:12:27|2019-10-19 21:14:38|         264|         264|   null|                  null|
|              B00256|2019-10-19 20:09:58|2019-10-19 21:21:21|         264|         264|   null|                  null|
|              B00256|2019-10-17 07:35:15|2019-10-17 07:39:06|         264|         264|   null|                  null|
|              B02095|2019-10-16 10:36:48|2019-10-16 10:43:12|         264|         264|   null|                  null|
|              B02550|2019-10-04 10:34:08|2019-10-04 10:57:07|         264|          29|   null|                  null|
|              B02715|2019-10-27 23:32:23|2019-10-27 23:58:58|           1|         164|   null|                  null|
|              B02111|2019-10-03 07:48:17|2019-10-03 08:11:21|         258|          92|   null|                  null|
|              B02972|2019-10-02 08:26:54|2019-10-02 08:43:29|         264|         244|   null|                  null|
|              B01145|2019-10-05 22:36:37|2019-10-05 23:01:49|         264|         212|   null|                  null|
|              B02868|2019-10-14 11:30:00|2019-10-14 11:50:00|         264|         264|   null|                  null|
|              B01452|2019-10-28 14:38:24|2019-11-03 15:15:37|          84|         118|   null|                  null|
|              B01061|2019-10-19 09:14:36|2019-10-19 09:18:24|         264|         126|   null|                  null|
|              B02881|2019-10-29 12:08:10|2019-10-29 13:09:32|          82|         263|   null|                  null|
|              B02546|2019-10-18 21:21:25|2019-10-18 21:47:54|         264|         235|   null|                  null|
|              B02905|2019-10-05 11:40:21|2019-10-05 11:49:36|         264|         228|   null|                  null|
|              B00821|2019-10-01 01:01:07|2019-10-01 01:06:20|         264|          63|   null|                  null|
|              B00856|2019-10-18 15:10:18|2019-10-18 15:24:28|         264|          76|   null|                  null|
|              B03162|2019-10-11 10:53:32|2019-10-11 11:13:58|          39|         188|   null|                  null|
|              B03061|2019-10-24 10:15:25|2019-10-24 10:28:24|          78|          60|   null|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [4]:
df_fhv_pq.createOrReplaceTempView('fhv')

In [13]:
# How many taxi trips were there on the 15th of October?
# Consider only trips that started on the 15th of October.

spark.sql("""

SELECT count(*)
FROM fhv
where pickup_datetime BETWEEN '2019-10-15 00:00:00' AND '2019-10-15 23:59:59'
;

""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [36]:
# What is the length of the longest trip in the dataset in hours?
# Just playing, I want to select the rows with max time spent along with the pickup/dropoff datetime. 

# Subquery + MAX()
spark.sql("""

SELECT pickup_datetime, dropoff_datetime, (dropoff_datetime - pickup_datetime) as time_spent
FROM fhv
WHERE (dropoff_datetime - pickup_datetime) = (SELECT MAX(dropoff_datetime - pickup_datetime) from fhv)
;

""").show()


spark.sql("""

SELECT f1.pickup_datetime, f1.dropoff_datetime, (f1.dropoff_datetime - f1.pickup_datetime) as time_spent
FROM fhv f1, (select MAX(dropoff_datetime - pickup_datetime) as max_time_spent from fhv) f2
WHERE (f1.dropoff_datetime - f1.pickup_datetime) = f2.max_time_spent
;

""").show()


# ORDER BY + LIMIT...can't deal with "several" max rows
spark.sql("""

SELECT pickup_datetime, dropoff_datetime, (dropoff_datetime - pickup_datetime) as time_spent
FROM fhv
ORDER BY time_spent DESC
LIMIT 1
;

""").show()

+-------------------+-------------------+--------------------+
|    pickup_datetime|   dropoff_datetime|          time_spent|
+-------------------+-------------------+--------------------+
|2019-10-28 09:00:00|2091-10-28 09:30:00|INTERVAL '26298 0...|
|2019-10-11 18:00:00|2091-10-11 18:30:00|INTERVAL '26298 0...|
+-------------------+-------------------+--------------------+

+-------------------+-------------------+--------------------+
|    pickup_datetime|   dropoff_datetime|          time_spent|
+-------------------+-------------------+--------------------+
|2019-10-28 09:00:00|2091-10-28 09:30:00|INTERVAL '26298 0...|
|2019-10-11 18:00:00|2091-10-11 18:30:00|INTERVAL '26298 0...|
+-------------------+-------------------+--------------------+

+-------------------+-------------------+--------------------+
|    pickup_datetime|   dropoff_datetime|          time_spent|
+-------------------+-------------------+--------------------+
|2019-10-28 09:00:00|2091-10-28 09:30:00|INTERVAL '26298 0...|
+-------------------+-------------------+--------------------+

In [38]:
# df = spark.read \
    # .option("header", "true") \
    # .csv('taxi+_zone_lookup.csv')
# df.write.parquet('zones')

df_zones_pq = spark.read.parquet('tmp/zones/*')
df_zones_pq.show()
df_zones_pq.createOrReplaceTempView('zones')

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [52]:
# Least frequent pickup location zone


spark.sql("""

SELECT PULocationID, count(*) as freq
FROM fhv
GROUP BY PULocationID
ORDER BY freq ASC
;

""").createOrReplaceTempView('PU_freq')


spark.sql("""

SELECT z.Zone
FROM (SELECT PULocationID
    FROM PU_freq
    WHERE PU_freq.freq = (
        SELECT MIN(freq)
        FROM PU_freq
    )) q1 
    JOIN zones z ON (q1.PULocationID=z.LocationID)
;

""").show()

+-----------+
|       Zone|
+-----------+
|Jamaica Bay|
+-----------+